<h1>Patients</h1>
<a class="waves-effect waves-light btn indigo lighten-3" <%=link_to 'New Patient', new_patient_path%></a>
<table>
  <thead>
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Age </th>
      <th> Phone </th>
      <th> Patient Record </th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <% @patients.each do |patient| %> 
      <td><%= patient.first_name %> </td>
      <td><%= patient.last_name %> </td>
      <td><%= patient.age %> </td>
      <td><%= patient.phone %> </td>
      <td><%= link_to 'Show', patient_path(patient) %>
    </tr>
    <%end%>
  </tbody>
</table>

